<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.user.front.mapper.TeambuyMapper">
    <resultMap id="teambuyResultMap" type="com.shop.user.dto.TeambuyDto">
        <result property="id" column="id" javaType="long"></result>
        <result property="goodsId" column="goods_id" javaType="java.lang.Long"></result>
        <result property="title" column="title" javaType="java.lang.String"></result>
        <result property="status" column="status" javaType="java.lang.Integer"></result>
        <result property="storeId" column="store_id" javaType="java.lang.Long"></result>
        <result property="people" column="people" javaType="java.lang.String"></result>
        <result property="specs" column="specs" javaType="java.lang.String"></result>
    </resultMap>


    <insert id="add" parameterType="com.shop.user.dto.TeambuyDto" useGeneratedKeys="true" keyProperty="id">
        insert into t_teambuy
        <trim suffixOverrides=",">
        (
           <if test="goodsId!=null">
               goods_id,
           </if>
           <if test="title!=null and title!=''">
               title,
           </if>
           <if test="status!=null">
               status,
           </if>
           <if test="storeId!=null">
               store_id,
           </if>
           <if test="people!=null and people!=''">
               people,
           </if>
           <if test="specs!=null and specs!=''">
               specs,
           </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
           <if test="goodsId!=null">
               #{goodsId},
           </if>
           <if test="title!=null and title!=''">
               #{title},
           </if>
           <if test="status!=null">
               #{status},
           </if>
           <if test="storeId!=null">
               #{storeId},
           </if>
           <if test="people!=null and people!=''">
               #{people},
           </if>
           <if test="specs!=null and specs!=''">
               #{specs},
           </if>
        </trim>
        )
        </insert>

    <update id="modify" parameterType="com.shop.user.dto.TeambuyDto" >
        update  t_teambuy  
        <trim prefix="set" suffixOverrides=",">
            <if test="goodsId!=null">
               goods_id=#{goodsId},
            </if>
            <if test="title!=null and title!=''">
               title=#{title},
            </if>
            <if test="status!=0">
               status=#{status},
            </if>
            <if test="storeId!=null">
               store_id=#{storeId},
            </if>
            <if test="people!=null and people!=''">
               people=#{people},
            </if>
            <if test="specs!=null and specs!=''">
               specs=#{specs},
            </if>
        </trim>
         where id =#{id}
    </update>

    <sql id="deleteSql">delete from  t_teambuy where id </sql>

    <delete id="delete" parameterType="long" >
        <include refid="deleteSql"  /> =#{id}
     </delete>

    <delete id="deleteMany" >
       <include refid="deleteSql"  />  in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
             #{item}
        </foreach>
     </delete>

    <sql id="whereIf">
        <where>
            <trim  prefixOverrides="or">
            <if test="id!=null">
                or  id=#{id}
            </if>
            <if test="goodsId!=null">
                or  goods_id=#{goodsId}
            </if>
            <if test="title!=null and title!=''">
                or  title=#{title}
            </if>
            <if test="status!=null">
                or  status=#{status}
            </if>
            <if test="storeId!=null">
                or  store_id=#{storeId}
            </if>
            <if test="people!=null and people!=''">
                or  people=#{people}
            </if>
            <if test="specs!=null and specs!=''">
                or  specs=#{specs}
            </if>
            </trim>
        </where>
    </sql>

    <select id="select" parameterType="com.shop.user.dto.TeambuyDto" resultMap="teambuyResultMap">
        select * from  t_teambuy
        <include refid="whereIf"/>
    </select>

    <select id="count" parameterType="com.shop.user.dto.TeambuyDto" resultType="java.lang.Long">
        select count(id) from  t_teambuy
        <include refid="whereIf"/>
    </select>

</mapper>