<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <Menu Header="用户管理">
    <Children>
      <Menu Header="用户管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Buyer"  />
      <Menu Header="商家管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Seller"  />
      <Menu Header="用户地址管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.BuyerAddress"  />
      <Menu Header="商家地址管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.SellerAddress"  />
    </Children>
  </Menu>
  <Menu Header="订单管理">
    <Children>
      <Menu Header="订单管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Order"  />
      <Menu Header="订单详情管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.OrderDetail"  />
      <Menu Header="订单日志管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.OrderLog"  />
      <Menu Header="购物车管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Cart"  />
    </Children>
  </Menu>
  <Menu Header="商品管理">
    <Children>
      <Menu Header="商品分类管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.ProductCatagory"  />
      <Menu Header="商品管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Product"  />
      <Menu Header="库存管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Config"  />
      <Menu Header="收藏管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Config"  />
    </Children>
  </Menu>
  <Menu Header="活动管理">
    <Children>
      <Menu Header="签到管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Config"  />
      <Menu Header="满减送管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Config"  />
      <Menu Header="积分管理" TypeName="Utility.Wpf.Ctrls.ListTemplateCtrl,Utility.Wpf.Simple" Flag="Config.Config"  />
    </Children>
  </Menu>
  <Menu Header="工具">
    <Children>
      <Menu Header="Tab测试" TypeName="Tool.Ctrls.TabTestControl,Utility.Wpf.Simple" />
      <Menu Header="Net平台" TypeName="Tool.Ctrls.PlatCtrl,Utility.Wpf.Simple" />
      <Menu Header="字符串转义工具" TypeName="Tool.Ctrls.StrCtrl,Utility.Wpf.Simple" />
      <Menu Header="代码生成" TypeName="Tool.Ctrls.CodeControl,Utility.Wpf.Simple" />
      <Menu Header="Docker工具" TypeName="Tool.Ctrls.DockerToolControl,Utility.Wpf.Simple" />
      <Menu Header="RabbitMQ工具" TypeName="" />
      <Menu Header="Kafka工具" TypeName="" />
      <Menu Header="Elasticsearch工具" TypeName="" />
      <Menu Header="Zookeeper工具" TypeName="" />
    </Children>
  </Menu>

</Root>
